extends layout.pug

include includes/sidebar

append links
  link(rel="stylesheet" type="text/css" href=`/${siteHash}/assets/vendor/summernote/summernote.css`)

block content
  .container
    .row
      .col-md-12
        h1 Product Description for #[b #{product.name}]
    .row
      .col-md-12
        #product-picture
    .row
      .col-md-12
        text-area#product-description(style='display: none' )= product.description
    .row
      .col-md-12
        button.btn.btn-primary#btn-save Up to Date
    .row
      .col-md-12
        

append scripts
  script(src=`/${siteHash}/assets/vendor/summernote/summernote.min.js`)
  script(src=`/${siteHash}/assets/js/product-description-cms-bundle.js`)