html
  head
    script.
      window['siteHash'] = '#{siteHash}'
    link(href=`/${siteHash}/assets/vendor/bootstrap/css/bootstrap.min.css`, rel='stylesheet')
    link(href=`/${siteHash}/assets/css/qrcode.css`, rel='stylesheet')
    style.
      table {
        font-size: 150%
      }
      #note {
        font-size: 100% !important;
      }

  body
    .page
      .subpage
        table#qrTable(style='width: 80%')
          tr
            td(width='100%', style='margin: auto; text-align: center')
              #qrcode
        | #[h4 #[b(contenteditable="true") #{namaAlias}]]
        table(style='width: 100%; font-size: 90%')
          tr
            td(width='40%') ID:
            td(width='60%') #{variant.id}
          tr
            td(width='40%') Nama:
            td(width='60%') #{product.name || '-'}
          tr
            td(width='40%') Varian:
            td(width='60%') #{variant.name || '-'}

    script(src=`/${siteHash}/assets/vendor/qrcode/qrcode.js`)
    script.
      const serializedQRData = '!{serializedQRData}'
      var QRConfig = {
      text: serializedQRData,
      width: 200,
      height: 200
      }
      new QRCode(document.getElementById("qrcode"), QRConfig)
