mixin renderProducts(products)
  each product in products
    article
      span.image
        img(src=`${getImageURL(product.primaryImage.imageFilename)}` alt="")
      a(href=`${getProductURL(product)}`)
        .content
          p Click for more information
          .availability
      section.product-information
        h2
          = product.name
          br
          = formatPrice(product.price)

mixin renderPagination(currentPage, totalPage, url)
  ul.pagination
    - for (let i = 1; i <= totalPage; i++)
      li
        // Note: Intentionally using == instead of ===
        if (i == currentPage)
          a(href=url.replace('__pageNumber', i))
            strong= i
        else
          a(href=url.replace('__pageNumber', i))= i