extends ../layout/cms

append head
  style.
    .category {
      background-color: #f1ffed;
    }
    .subcategory {
      background-color: #f2f1e1;
    }
    .variant {
      font-size: 75%;
    }

block content
  .container
    .row
      .col-md-6
        button.btn Print
    .row
      .col-md-12
        h2 Price List (Last Updated at #{lastUpdated})
    .row
      for category in categories
        .col-md-6
          h3.category #{category.name}
          for subCategory in category.subCategories
            h4.subcategory #{subCategory.name}
            for inStockProduct in subCategory.inStockProducts
              strong Ready stock
              p
                | #{inStockProduct.name} - #{formatPrice(inStockProduct.price)}
                | - #[span.variant #{inStockProduct.variants.map(variant => variant.name + `(${variant.id})`).join(', ')}]
            for poProduct in subCategory.poProducts
              strong Pre-Order
              p
                | #{poProduct.name} - #{formatPrice(poProduct.price)}
                | - #[span.variant #{poProduct.variants.map(variant => variant.name + `(${variant.id})`).join(', ')}]

append scripts
  