// Adapted from: https://codepen.io/Sambra22/pen/JNexJP

html
  head
    // link(rel="stylesheet" href="/assets/css/receipt-cms.css")
    style
      include ../assets/css/receipt-cms.css
  body
    #invoice-POS
      center#top
        // .logo
        .info
          // img#logo(src="/assets/images/ntech-icon.png")
          h1 Nusantara Gizmo
        // End Info
        // End InvoiceTop
        #mid
          .info.small-text
            p
              | Setrasari Mall B3-22
              br
              | Bandung
              br
              | (022) 2011-796
              br
            p
              | Status: #{receipt.status}
              br
              | Tanggal : #{receipt.orderDate}
              br
              | Customer: #{receipt.fullName}
              br
              | Telp: #{receipt.phoneNumber}
              hr
        // End Invoice Mid
        #bot
          #orders
            for item in receipt.items
              p
                | #{item.name}
                br
                | #{item.quantity} x #{formatPrice(item.price)}
                br
                if (item.status === 'PO')
                  if (receipt.status === 'Close')
                    | #[strike (Pre-order)]
                  else
                    | (Pre-order)
            hr
          p
            strong Total: #{formatPrice(receipt.totalPrice)}

          #legalcopy.small-text
            if (receipt.status === 'PO')
              p.legal
                | Barang akan siap diambil dalam #[strong #{receipt.poDuration} hari].
              if (originalCopy === '1')
                | Gunakan struk ini untuk pengambilan PO
            p.legal
              | THANK YOU
              if (!originalCopy || originalCopy === '0')
                br
                | (Merchant Copy)
              br
            p.legal
              | #[i Tanggal Cetak: #{receipt.printDate}]


        // End InvoiceBot
    // End Invoice
