extend layout/base

block content
  header
    h1
      | Nusantara Gizmo - Solusi Gadget & Elektronik Anda
    section.cart
      for itemGroup in ['readyStock', 'preOrder']
        for item in cart[itemGroup]
          .cart-item-container
            .cart-item-picture
              img(src=item.image, alt="")
            .cart-item-info
              .cart-item-info-child
                strong= item.product.name
              .cart-item-info-child
                | #{item.variant.name}
              .cart-item-info-child
                | #{formatPrice(item.product.shopPrice)}
              .cart-item-info-child
                | #{itemGroup === 'readyStock' ? '(Ready Stock)' : '(Pre-Order)'}
            .cart-item-qtty
              button.add-item(type="button" data-variant-id=item.variantId) +
              span= item.quantity
              button.reduce-item(type="button" data-variant-id=item.variantId) -
            .cart-item-subtotal
              h3 Subtotal:
                br
                =formatPrice(parseInt(item.quantity) * parseInt(item.product.shopPrice))
              button.delete-item(type="button" data-variant-id=item.variantId) Delete
      .cart-total-container
        .cart-total-price
          h1 Total #{formatPrice(cart.totalPrice)}
          form#order-form(action="")
            .cart-customer-info
              label Nama Lengkap:
                input(type="text" name="fullName")
              label No Telp:
                input(type="text" name="phoneNumber")
              label Notes:
                textarea(rows="3" name="notes")
              button#place-order(type="button") Order
    //section.cart
      .cart-item-container
        img.cart-item-picture(src="http://ntech.nusantara-local.com/images/1532682638445_1.png", alt="")
        .cart-item-info
          .cart-item-info-child
            strong Sand Disk Cruzer 32GB
          .cart-item-info-child
            | Hitam
          .cart-item-info-child
            | @ Rp. 150.000
          .cart-item-info-child
            | (Ready Stock)
        .cart-item-qtty
          button +
          span 5
          button -
        .cart-item-subtotal
          h3 Rp. 300.000
          button X
      .cart-total-container
        .cart-total-price
          h2 Total: Rp. 1.500.000
          form
            .cart-customer-info
              label Nama Lengkap:
                input(type="text")
              label No Telp:
                input(type="text")
              button Order

append scripts
  script(src='/assets/js/cart-app-bundle.js')
