extend layout/product

block description
  article
    h1= product.name
    section.information
      | !{product.description}
    .detail
      label Harga:
      span= formatPrice(product.price)
    .detail
      label Garansi:
      span= product.warranty
    .detail
      label Availability:
      span Ready Stock
    .detail
      label Varian:
      select#select-variant
        each variant in product.variants
          option(data-id=variant.id data-quantity=Math.min(10, variant.stockQuantity)) #{variant.id} - #{variant.name}
    .detail
      label Quantity:
      select#select-quantity
    .purchase
      button(type="button")#add-to-cart Add to Cart
      // button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
            | Launch demo modal

append scripts
  script(src='/assets/js/instock-product-app-bundle.js')
