extend layout/product

block description
  article
    h1= product.name
    section.information
      | !{product.description}
    .detail
      label Harga:
      span= formatPrice(product.price)
    .detail
      label Garansi:
      span= product.warranty || '-'
    .detail
      label Availability:
      span Pre-order
    .detail
      label Varian:
      select#select-variant
        each variant in product.variants
          option(data-id=variant.id data-quantity=variant.stockQuantity) #{variant.id} - #{variant.name}
    .detail
      label Quantity:
      select#select-quantity
        each i in range(1, 10)
          option(data-quantity=i)= i
    .purchase
      button(type="button")#add-to-cart Add to Cart
append scripts
  script(src='/assets/js/po-product-app-bundle.js')

