doctype html
//
  Phantom by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Nusantara Gizmo - Solusi Kebutuhan Anda
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" type="text/css" href=`/assets/vendor/toastr/toastr.css`)
    noscript
      link(rel="stylesheet" href="/assets/css/noscript.css")
  body.is-preload
    // Wrapper
    #wrapper
      // Header
      header#header
        .inner.text-center
          // Logo
          div
            a.logo(href="/")
              span.symbol
                img(src="/assets/images/dark-logo.png" alt="")
              div
                div.title Nusantara Gizmo
                h2.slogan Solusi Kebutuhan Elektronik
          // Nav
          nav
            ul
              li
                a(href="#menu") Menu
      nav#category-nav
        form#search-bar(action="/search" method="GET")
          // form
          input(type="search" placeholder="Search here..." name="query" value=`${searchQuery || ''}`)
          button(type="submit")
            i.fa.fa-search
        ul#categories-top
          for category in categories
            li
              a(href=getCategoryURL(category))= category.name
              div#subcategories-layout
                for subCategory in category.subCategories
                  article.style2
                    a(href=getSubCategoryURL(category, subCategory))
                      span.image
                        img.img-fluid(src=`${getImageURL(subCategory.imageFilename)}` alt="")
                        h2= subCategory.name

      // Menu
      nav#menu
        include include/menu
      // Main
      #main
        .inner
          block content

      // Footer
      footer#footer
        .inner
          include include/footer
    // Scripts
    block scripts
      script(src="/assets/js/jquery.min.js")
      script(src="/assets/js/browser.min.js")
      script(src="/assets/js/breakpoints.min.js")
      script(src="/assets/js/util.js")
      script(src="/assets/js/main.js")
      script(src="/assets/vendor/bootstrap/bootstrap.min.js")
      script(src="/assets/vendor/bootstrap/popper.min.js")
